@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-text-light: #070707;
  --color-text-dark: #e3e3dd;
  --color-background-light: white;
  --color-background-dark: black;
  --color-text: #070707;
  --color-background: #efedea;

  --color-navbar: rgb(37 99 235);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: dark light;
 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  color: var(--color-text-dark);
  background-color: var(--color-background-dark);
}

/* Estilo para el tema claro */
body.theme-light {
  color: var(--color-text-light);
  background-color: var(--color-background-light);
}
* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}
html {
  min-height: 100dvh;
}








